@import url(../include/stylesheets/application.css);
@import url(./font-awesome.css);
@import url(./fonts.css);
@import url(./select2.css);

body,
input { font-family: 'Frutiger'; font-size: 13px; font-weight: normal !important; }
#main { margin: 10px; }
#footer { margin-top: 25px; }

#header > h1 { background-image: url(../images/logo.png); background-position: 10px 3px; }
#header h1 a.ancestor { font-size: 14px; }
#header h1 a.root { font-size: 15px; }

h1, h2, h3, h4 { font-family: 'Frutiger'; font-weight: normal !important; }
h1 { font-size: 1.7em; }

#content .tabs ul li a,
.tabular label,
strong,
b,
#section-subtitle,
.rating-title,
th,
#tab-content-members fieldset legend,
#tab-content-memberships fieldset legend,
#tab-content-users fieldset legend,
ul.projects a.project,
tr.odd.priority-highest,
table.list tbody tr.odd.priority-highest:hover,
.total-hours,
#sidebar a.selected,
table.plugins span.name,
#login-form label,
#header,
#top-menu { font-family: 'Frutiger'; font-weight: bold; }

fieldset.collapsible { font-size: 13px; }

a:link, #header a, #top-menu a:hover, #main-menu ul li a:hover, #context-menu a:hover, tr.context-menu-selection a, tr.context-menu-selection a:hover { color: #c44141 !important; }
a:visited, #header a:visited, tr.context-menu-selection a:visited { color: #892e2e !important; }
a.user.locked, a.user.locked:link, a.user.locked:visited { color: #bbb; text-decoration: line-through; }
#main-menu ul li a:hover { text-decoration: none; background-color: #e4e4e4;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e4e4e4));
background-image: -webkit-linear-gradient(#f4f4f4, #e4e4e4);
background-image: -moz-linear-gradient(#f4f4f4, #e4e4e4);
background-image: -o-linear-gradient(#f4f4f4, #e4e4e4);
background-image: linear-gradient(#f4f4f4, #e4e4e4); 
border-color: #ccc; }
#main-menu ul li a:visited { color: black; }

table.contacts.index tr.context-menu-selection h2 div, table.contacts.index tr.context-menu-selection td div { color: #777 !important; }

div#content > h2, div#content h2.contacts_header, div#content > div.filters h2, div#content > #add-news > h2, div#content > #add-message > h2, div#content > #add-document > h2 { background-color: #f2f2f2; border-bottom: 1px solid #ecd8d8; }

[class^="icon-"]:before, [class*=" icon-"]:before, .issues.box > h3:before { font-family: FontAwesome; margin-left: -18px; margin-right: 3px; text-decoration: none !important; background-image: none !important; width: 15px; text-align: center; }

#content > .contextual > a { margin-left: 10px; background-image: none !important; }
.icon-vcard { background-image: none !important; display: block; margin-bottom: 15px; }
.issues.box > h3 { background-image: none !important; }

.icon-add:before { content: "\f067"; }
.icon-time-add:before { content: "\f017"; }
.icon-fav-off:before { content:"\f06e"; }
.icon-del:before { content:"\f014"; }
.icon-clock:before { content: "\f017"; }
.icon-stop-action:before { content: "\f04d"; margin-left: 0; }
.icon-pause-action:before { content: "\f04c"; margin-left: 0; }
.icon-list-action:before { content: "\f0c9"; margin-left: 0; }
.icon-start:before { content: "\f04b"; font-size: 11px; }
.icon-reload:before { content: "\f0e2"; }
.icon-checked:before { content: "\f046"; }
.icon-history:before { content: "\f161"; }
.icon-import:before { content: "\f063"; }
.icon-email:before { content: "\f045"; }
.icon-add-deal:before { content: "\f0d6"; }
.icon-company-contact:before { content: "\f007"; }
.icon-money-dollar:before { content: "\f155"; }
.icon-date:before { content: "\f073"; }
.icon-rosette:before { content: "\f091"; }
.icon-vcard:before { content: "\f183"; }
.issues.box > h3:before { content: "\f145"; }
#edit_tags_link:before { content: "\f02b"; }
fieldset.collapsible.collapsed>legend:before { content: "\f0da"; font-family: FontAwesome; margin-right: 4px; width: 7px; display: inline-block; text-align: center; }
fieldset.collapsible>legend:before { content: "\f0d7"; font-family: FontAwesome; margin-right: 4px; width: 7px; display: inline-block; text-align: center; }
fieldset.collapsible>legend,
fieldset.collapsible.collapsed>legend { background: none; padding-left: 6px; padding-right: 6px; }
div#content > div.flash:before { content: "\f00c"; font-family: FontAwesome; margin-right: 5px; }
span a.atom, span a.csv, span a.xls, span a.vcf, span a.pdf { background-image: none; padding-left: 3px; }
span a.atom:before, span a.csv:before, span a.xls:before, span a.vcf:before, span a.pdf:before, #edit_tags_link:before { font-family: FontAwesome; margin-right: 5px; }
span a.atom:before { content: "\f09e"; }
span a.csv:before, span a.xls:before { content: "\f0ce"; }
span a.vcf:before { content: "\f0c0"; }
span a.pdf:before { content: "\f0f6"; }

.icon-add-deal, .icon-company-contact, .icon-money-dollar, .icon-date, .icon-rosette { background-image: none !important; }

#admin-menu a:before, #admin-menu a:hover:before, { font-family: FontAwesome; margin-right: 5px; text-decoration: none !important; width: 15px; display: inline-block; text-align: center; }
#admin-menu a, #admin-menu a.selected { background: none !important; padding-left: 0 !important; }
#admin-menu a.projects:before { content: "\f0ae"; }
#admin-menu a.users:before { content: "\f007"; }
#admin-menu a.groups:before { content: "\f0c0"; }
#admin-menu a.roles:before { content: "\f084"; }
#admin-menu a.trackers:before { content: "\f00b"; }
#admin-menu a.issue-statuses:before { content: "\f110"; }
#admin-menu a.workflows:before { content: "\f0ec"; }
#admin-menu a.custom-fields:before { content: "\f040"; }
#admin-menu a.enumerations:before { content: "\f03a"; }
#admin-menu a.settings:before { content: "\f085"; }
#admin-menu a.ldap-authentication:before { content: "\f0c1"; }
#admin-menu a.contacts:before { content: "\f022"; }
#admin-menu a.plugins:before { content: "\f12e"; }
#admin-menu a.info:before { content: "\f128"; }
#admin-menu a.reddrop:before { content: "\f16b"; }
#admin-menu a.agile:before { content: "\f16c"; }

input.autocomplete { background-image: url(../images/icon-search.png); background-position: 3px; }
.live_search input.live_search_field { border-radius: 2px; -webkit-border-radius: 2px; margin-top: 0px; margin-left: 30px; }

#sidebar a.selected { color: #892e2e; padding-left: 0 !important; }

.icon-phone,
.icon-email { background: none !important; }

#main-menu ul li a.selected { border-bottom: 2px solid #d21111 !important; }

.icon-clock, .icon-stop-action, .icon-start, .icon-list-action { background-image: none !important; }
#account .icon-stop-action,
#account .icon-pause-action,
#account .icon-list-action { width: 0px; padding: 0; font-size: 11px; }

input { margin-top: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, select:focus { border-color: #d57b7b; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(196, 65, 65, 0.5); }

#footer .bgl .bgr:after { content: " and cubetech Theme"; }

tr.even.priority-highest,
tr.odd.priority-highest { background-color: #fff3f3 !important; color: #892e2e !important; }

table.list tr.priority-highest a, tr.priority-highest:hover a { color: #892e2e; }
tr.odd.priority-highest td, tr.even.priority-highest td { border-color: #e5d0d0; }

div.issue { background: #f9f9f9; }
div.issue table img.gravatar { display: none; }

div.issue div.subject h3,
div.deal td.name h1 { font-size: 2em; margin-bottom: -14px; margin-top: -3px; }
div.deal td.name h1 { margin-bottom: -3px; }
div.issue img.gravatar { margin-right: 14px; width: 40px; height: auto; }
p.author { font-size: 11px; font-family: 'Frutiger'; }

#history .journal ul.details { padding: 0; padding-left: 0px; font-size: 12px; }
#history .journal ul.details li { list-style: none; }
#history .journal ul.details li > strong { display: inline-block; width: 150px; }
#history .journal ul.details li > i { font-family: 'Frutiger'; font-weight: bold !important; }

h4 img.gravatar { width: 16px; padding: 0; box-shadow: none; -webkit-box-shadow: none; height: auto; }

table.note_data td.name h4 { letter-spacing: 0px !important; }
span.tag-label-color a, span.tag-label-color > span { font-family: 'Frutiger' !important; font-size: 12px; color: #444 !important; font-weight: normal !important; }

.avatar img.gravatar, #avatar img.gravatar { width: 24px; height: auto; }
table.note_data td.avatar { padding-top: 4px; }

table.list tbody tr.context-menu-selection,
table.list tbody tr.context-menu-selection:hover,
table.list tbody tr.context-menu-selection a,
table.list tbody tr.context-menu-selection a:hover { background-color: #ddd !important; color: #333 !important; }
table.list tbody tr.odd, .odd { background-color: #f8f8f8 !important; }
table.list tbody tr:hover, #context-menu li:hover, table.contacts.index tbody tr:hover { background-color: #f0f0f0 !important; }
table.contacts.index tbody tr.context-menu-selection, table.contacts.index tbody tr.context-menu-selection:hover { background-color: #ddd !important; }

#contact_list div.contact { background: #fcfcfc; border: none; border-bottom: 1px solid #ddd; }

div#content > div.flash { position: static; border-radius: 0px !important; -webkit-border-radius: 0px !important; margin-top: -6px; text-shadow: none; background-color: #DDEBBA; background-image: none; padding-left: 20px; }

#content .tabs ul li a:hover { background-color: #f0f0f0; }

#content div.deal { background-color: #f9f9f9; }
#content table.subject_header td.avatar { width: 30px; }
#content table.subject_header td.subject_info li { display: inline-block; width: 100%; font-family: 'Frutiger'; font-size: 16px; }
.icon-money-dollar:before, .icon-date:before, .icon-rosette:before { text-align: left; width: 20px; }
table.subject_header td.subject_info ul { margin: 0; }
#note_attributes .wiki-edit { padding-left: 0; padding-right: 0; margin-top: 20px; width: 100%; }

#project_quick_jump_box,
.select2-drop-mask, .select2-container { width: 400px !important; }

.tooltip span.tip.contact { line-height: 15px !important; font-size: 12px !important; }